@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Courier New", Courier, monospace;
	background-color: #fff;scroll-behavior: smooth;
}
.hero {
	background: url(./assets/sliding/hero.4.png) no-repeat center;
	background-size: cover;
}
.login {
	background: url(./assets/sliding/image3.png) no-repeat center;
	background-size: cover;
}
